<div class="card border-dark mb-3">
    <div class="card-header">Total number of registered users: <span class="badge badge-success">{{users.length}}</span>
    </div>
    <div class="card-body text-dark">
        <!-- <h5 class="card-title">Endless list, <small>pagination, smagination</small></h5> -->
        <p class="card-text">
            <div class="row header">
                <div class="col-1">#</div>
                <div class="col">Name</div>
                <div class="col">Email</div>
            </div>
            <div class="row" ng-repeat="data in users">
                <div class="col-1">{{$index + 1}}</div>
                <div class="col">
                    {{ data.username }}
                </div>
                <div class="col">
                    {{ data.email }}
                </div>
            </div>
        </p>
    </div>
</div>