<div class="card border-dark mb-3">
    <div class="card-header">Add new user</div>
    <div class="card-body text-dark">

        <p class="card-text">
            <form name="demoForm" ng-submit="submitForm()" ng-app="demoApp.register" ng-controller="RegisterController">

                <div class="alertSpace alert alert-success" ng-show="postSuccess">
                    <strong>Success!</strong> User Created
                </div>

                <div class="alert alert-danger" ng-show="errorName">
                    <strong>Error!</strong> {{errorName}}
                </div>

                <div class="form-group">
                    <label>Email address</label>
                    <input ng-change="clearInputs()" ng-model="user.email" type="email" class="form-control"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input ng-change="clearInputs()" ng-model="user.username" type="text" class="form-control"
                        placeholder="Name">
                </div>

                <input type="submit" class="btn btn-success uppercase" value="Create User">
            </form>
        </p>
    </div>
</div>